*{
    margin: 0%;
    padding: 0%;
}
.container1 a:hover{
    color:#ffffffa6;
}
.container1{
    display: flex;
    justify-content: center;
    background-color: #1e172f;
}
.container1 a{
    text-decoration: none;
    color:#ffffff;
    margin: 0px 15px 20px 14px;
    font-size: 19px;
}
.container1 div{
    padding-top: 20px;
    margin-left: 30%;
}
.boton1{
    background: linear-gradient(to right, #8441d5, #3498db);
    color: #ffffff;
    margin: 13px 8px 13px 8px;
    width: 125px;
    border-radius: 2.5px;
    cursor: pointer;
}
.container2{
    display: flex;
}
.medioizquierdo{
    background-color: #2e2550;
    width: 50%;
    color: #ffffff;
    padding: 7% 0%;
}
.medioizquierdo h1{
    font-size: 98px;
    width: 100px;
}
.medioizquierdo p{
    font-size: 23px;
    text-align: left;
    width: 500px;
    margin-top: 3%;
}
.texto{
    margin-left: 40%;
}
.botones{
    margin-left: 40%;
    margin-top: 2%;
    border: solid #ffffff 0.1px; 
    width: max-content;
    padding: 7px;
}
.btn1{
    padding: 10px 10px 10px 10px;
    width: 125px;
    color: #f41486;
    cursor: pointer;
    border: #1e172f 0.1px;
}
.btn2{
    padding: 10px 10px 10px 10px;
    width: 125px;
    background-color:transparent;
    color: #ffffff;
    cursor: pointer;
}
.medioderecho{
    background-image:url(imgs/hojasFondo.jpg) ;
    width: 50%;
    background-position-x: -2px;
    background-size: cover;
    background-repeat: no-repeat;
}
.medioderecho img{
    margin-left: 3%;
    margin-top: 38px;
    margin-bottom: 24px;
}
.container3{
    display: flex;
    flex-direction: column;
}
.container3 h2{
    margin-left: 42%;
    color: #f41486;
    margin-top: 10px;
    font-size: 50px;
}
.texto2{
    display: flex;
    justify-content: space-evenly;
    padding: 38px 0px 30px 80px;
}
.imagenTexto{
    height: 310px;
    width: 462px;
    margin-right: 75px;
}

.textoTexto img{
    height: 14px;
    width: 14px;
}
.textoTexto h3{
    color: #c44788;
    font-size: 43px;
    margin-bottom: revert-layer;
}
.textoTexto p{
    font-size: 23px;
    width: 500px;
}
.textoTexto h4{
    color: #f41486;
    font-size: 24px;
    margin-top: 18px;
}
li{
    list-style:none;
    font-size: 20px;
}
.textoTexto li::before {
    content: "";
    display: inline-block;
    background-image: url(imgs/cheak.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}
.lista li::before {
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 27px;
    vertical-align: middle;
}
.estrella::before{
    background-image:url(imgs/estrellita.png);   
}
.chulo::before{
    background-image:url(imgs/chulo.png);
}
.equis::before{
    background-image: url(imgs/equisnegro.png);
}

.estrellaNegra::before{
    background-image:url(imgs/estrellaNegro.png);   
}
.chuloNegro::before{
    background-image:url(imgs/chulongro.png);
}
.equisNegro::before{
    background-image: url(imgs/equisnegro.png);
}
.Eltitulo{
    justify-items: center;
    color: #ffffff;
    padding: 42px 7px;
}
.Eltitulo p{
    width: 537px;
    text-align: center;
}
.Eltitulo h2{
    font-size: 51px;
}
.semicontenedor4{
    display: flex;
    justify-content: center;
    padding-bottom: 57px;
    gap: 59px;
    height: 493px;
}
.semicontenedor4 div{
    background-color: #ffffff;
    width: 309px;
    justify-items: center;
    margin-top: 23px;
}
.semicontenedor4 p{
    text-align: center;
    width: 276px;
    margin-top: 19px;
    margin-bottom: 38px;
}
.container4{
    background-color: #1e172f;
}
#botonClaro{
    background-color: #f5f5f5;
    padding-bottom: 11px;
}
#botonClaro button{
    background: linear-gradient(to right, #f577bc, #e22d78);
    margin-left: 34%;
    padding: 6px;
    margin-top: 9px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
#botonOscuro{
    background-color: #f5f5f5;
    padding-bottom: 11px;  
    
}
#botonOscuro button{
    margin-left: 34%;
    padding: 6px;
    margin-top: 9px;
    background-color: #1e172f;
    color: #ffffff;
    cursor: pointer;
}
#numeros{
    background-color:#f5f5f5;
    margin-bottom: 9px;
}
#numeros h3{

}
#rosao{
    color: #f41486;
}
.precio{
    font-size: 42px;
}

footer{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 7px 0;
}
footer p{
    margin: 1%;
}
footer img{
    width: 18px;
    height: 17px;
    margin-right: 12px;
    margin-top: 17%;
}

@media (max-width: 1279px) {
    .container1{
        padding-left: 73px;
    }
    .container1 a{
        font-size: 17px;
        margin-left: auto;
    }
    .medioizquierdo h1{
        font-size: 90px;
    }
    .medioderecho img{
        margin-left: 5%;
        margin-top: 52px;
        height: 471px;
    }
    .medioderecho{
        background-position-x: -180px;
    }
    .texto{
        margin-left: 16%;
    }
    .texto{
        padding: 38px 0px 30px 1px;
    }
    .container3 h2{
        margin-left: 32%;
    }
    .botones{
        margin-left: 16%;
    }
    .medioizquierdo p {
        font-size: 25px;
        width: 279px;
    }
    .imagenTexto{
        height: 239px;
        margin-right: -10px;
        margin-left: -45px;
    }
    .textoTexto p{
        font-size: 21px;
        width: 402px;
    }
    .textoTexto h3{
        margin-bottom: 11px;
    }
    .textoTexto h4{
        margin-top: 9px;
    }
    .semicontenedor4{
        gap: 32px;
    }
    .semicontenedor4 div{
        width: 238px;
    }
    .semicontenedor4 p{
        width: 199px;
        font-size: 16px;
    }
    #botonOscuro button {
        margin-left: 27%;
    }
    #botonClaro button {
        margin-left: 27%;
    }
    footer img{
        margin-top: 7%;
    }
}
@media (max-width:920px){
    .medioizquierdo h1 {
        font-size: 77px;
    }
    .container1{
        padding-left: 34px; 
    }
    .container1 div{
        margin-left: 23%;
        width: 329px;
    }
    .boton1{
        margin: 13px 17px 13px 0px;
    }
    .imagenTexto{
        margin-left: -97px;
        width: 335px;
    }
    .textoTexto h3 {
        margin-bottom: 6px;
    }
    .texto2{
        padding: 12px 0px 30px 80px;
    }
    .semicontenedor4 div{
        width: 204px;
    }
    .lista li{
        font-size: 15px;
    }
    #numeros h3 {
        margin-left: 5px;
        font-size: 15px;
    }
    .semicontenedor4{
        gap: 32px;
        padding-bottom: 50px;
    }
    .semicontenedor4 p {
        width: 184px;
        font-size: 13px;
    }
    #botonOscuro button {
        margin-left: 26%;
    }
    #botonClaro button {
        margin-left: 26%;
        padding: 6px;
    }
    .Eltitulo p{
        width: 460px;
        font-size: small;
    }
    .Eltitulo h2{
        font-size: 53px;
        margin-bottom: 10px;
    }

}
 @media (max-width:798px){
    .container1 {
        padding-left: 20px;
    }
    .container1 img{
        height: 58px;
        width: 106px;
    }
    .boton1 {
        margin: 13px 10px 13px 0px;
        padding: 9px 5px;
    }
    .container1 div {
        margin-left: 23%; 
    }
    .container1 a{
        font-size: 12px;
    }
    .medioderecho img {
        margin-left: 8%;
        margin-top: 85px;
        height: 332px;
    }
    .medioizquierdo h1 {
        font-size: 48px;
    }
    .medioizquierdo p {
        font-size: 14px;
        width: 158px;
    }
    .btn1{
        padding: 10px 2px 10px 2px;
        font-size: 10px;
        width: 83px;
    }
    .btn2{
        padding: 10px 2px 10px 2px;
        font-size: 10px;
        width: 78px;
    }
    .imagenTexto {
        margin-left: -91px;
        width: 208px;
        height: 186px;
    }
    .textoTexto h3 {
        font-size: x-large;
    }
    .textoTexto p {
        font-size: 16px;
        width: 285px;
    }
    li{
        font-size: 15px;
    }
    .textoTexto h4 {
        margin-top: 8px;
        font-size: 19px;
        margin-bottom: 6px;
    }
    .container3 h2 {
        margin-left: 24%;
        font-size: 34px;
    }
    .semicontenedor4{
        gap: 12px;
        height: auto;
        padding-bottom: 26px;
    }
    .semicontenedor4 div {
        width: 142px;
    }
    #numeros{
        font-size: 11px;
    }
    #numeros h3{
        font-size: 10px;
        margin-left: 10px;
    }
    .precio {
        font-size: 28px;
    }
    .lista li {
        font-size: 10px;
    }
    .lista li::before{
        width: 12px;
        height: 12px;
    }
    .semicontenedor4 p {
        width: 106px;
        font-size: 9px;
    }
    #botonClaro button {
        margin-left: 18%;
        font-size: 10px;
    }
    #botonOscuro button {
        margin-left: 18%;
        font-size: 10px;
    }
    footer{
        font-size: 11px;
    }
    footer img {
    width: 17px;
    height: 15px;
    margin-top: 3%;
    }
} 
@media (max-width:480px){
     .container1 div {
        margin-left: 10%;
        padding-top: 11px;
    }
    .medioderecho img {
        margin-left: 7%;
        margin-top: 51px;
        height: 220px;
    }
    .medioizquierdo h1 {
        font-size: 33px;
    }
    .btn1 {
        padding: 6px 2px 6px 2px;
        font-size: 10px;
        width: 54px;
        
    }
    .btn2 {
        padding: 14px 2px 6px 2px;
        font-size: 11px;
        width: 66px;
    }
    .medioizquierdo p {
        font-size: 10px;
        width: 113px;
    }
    .texto{
        padding: 38px 0px 16px 1px;
    }
    .container3 h2 {
        margin-left: 27%;
        font-size: 24px;
    }
    .textoTexto p {
        font-size: 11px;
        width: 154px;
    }
    .textoTexto h3 {
        font-size: 17px;
    }
    .textoTexto h4 {
        font-size: 15px;
    }
    li {
        font-size: 12px;
    }
    .imagenTexto {
        margin-left: -99px;
        width: 169px;
        height: 157px;
    }
    .Eltitulo h2 {
        font-size: 31px;
    }
    .Eltitulo p {
        width: 326px;
        font-size: 11px;
    }
    .Eltitulo{
        padding: 7px 7px;
    }
    .semicontenedor4 div {
        width: 95px;
    }
    .semicontenedor4 p {
        width: 86px;
        font-size: 8px;
    }
    #botonOscuro button {
        margin-left: 6%;
    }
    #botonClaro button {
        margin-left: 6%;
    }
    #numeros h3 {
        font-size: 11px;
        margin: 10px 0;
    }
    #numeros {
        display: flex;
        font-size: 11px;
        flex-direction: column;
        justify-items: center;
    }
    .semicontenedor4 h2{
        margin-left: 10px;
    }
}